@import "./variables.scss";

* {
    color: $font-colorp;
}

i {
  color: $font-colorw;
}

h4 {
    font-weight: $h-font-weight;
}

main{
  min-height: calc(100vh - 96px);
}

.banner {
    background-position-y: 50%;
    width: 100%;
    max-height: 650px;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        position: relative;
        top: -150px;
    }
}

.parrafos {
    width: 90%;
    margin: 20px auto;
    display: grid;
    text-align: justify;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 8px;
    grid-area: parafos-header;
    grid-template-areas:
      "parrafo1 parrafo1 "
      "parrafo2 parrafo3";
  }
  
  .parrafos {
    margin: 20px auto;
    width: 90%;
    justify-content: center;
    word-spacing: 2px;
    font-size: 1.5rem;
    word-spacing: 0.6px;
    font-family: "Redressed", cursive;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    grid-template-areas:
      "parra1 parra1"
      "parra2 parra3";
  }
  .parra1 {
    color: burlywood;
    grid-area: parra1;
    padding: 20px;
  }
  .parra2 {
    color: rgb(240, 171, 81);
    padding: 25px;
  }
  .parra3 {
    color: rgb(185, 108, 6);
    padding: 25px;
  }
  
.bg-navbarcolor{
  @include navbar-color;
}

 h1 {
  font-family: $font-type2;
  }

  /* quienes somos webpage */

.quienes-somos{
  p{
    font-family: $font-type2;
    text-align: justify;
  }

  .imagen-quienes-somos{
    background-position-y: 50%;
    width: 100%;
    max-height: 650px;
    overflow: hidden;
    img {
      width: 100%;
    display: block;
    position: relative;
    top: 0px;
    }
  }
}

 /* productos webpage */

.product-container {
  gap: 0.5rem;

.product-item {
  background-color: #ccc;
  width: 100%;
  max-width: 24.46%;
  height: 300px;
}
}

.botones{
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
}

.fa-solid {
  color: $font-colorp;
}

 /* servicios webpage */

 

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: $font-type2;
  
    .fa-solid{
      color: $font-colorp;
    }
  }


 /* contactenos webpage */

.map-container {
  max-height: 500px;
  overflow: hidden;
}

.map-container img {
  width: 100%;
}


.product-item{
  margin: 0;
  padding: 50px;
  min-height: 450px;
  box-sizing: border-box;
}

.form-group{

  font-family: $font-type2
 }

/* footer */

.bg-footercolor{
  @include footer-color;
  width: auto;

  small{
    color: $font-colorw;
  }
}

.social-media {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;

    li {
      display: inline-block;
      padding: 5px;

      a {
        .fa-brands{
        color: #fff;          
        }
      }
    }
  }
}

/* media query */

@media only screen and (max-width: 768px){
    
.banner {
  img {
    top: 0;
  }
}

  .product-item{
    padding: 20px;
  }

}